
.custom-hidden {
    display: none;
}

.available-tag-position {
    font-size: 13px;
    margin-left: -18%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #7b7bff;
    color: black;
    border-radius: 10px;
    margin-right: 10px;
}


.available-tag-position:hover {
    color: black;
    font-weight: bolder;
    border-color: black;
}

.card-style {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 255px;
    max-height: 255px;
    min-height: 255px;
}

.certificate-card {
    width: 800px;
    margin-bottom: 30px;
    padding: 15px 15px 15px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

    height: 250px;
    max-height: 250px;
    min-height: 250px;
}

.products-container {
    max-width: 1000px;
    margin-top: 10%;
    margin-bottom: 10%;
}


.certificate-header {
    height: 30px;
}


.certificate-content {
    margin: 5px 5px 15px;
    height: 130px;
    background: rgba(215, 249, 255, 0.5);
}


.wrap {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
}

.certificate-content-pop-up {
    margin: 5px 5px 15px;
    height: 200px;
    background: rgba(215, 249, 255, 0.5);
}

.certificate-description {
    text-indent: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 160px;
    overflow: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
}


.tag-content {
    font-size: 110%;
    font-weight: bold;
    display: inline;
}


.certificate-footer {
    height: 20px;
    margin-top: 5px;

    text-align: center;
}

.footer-position {
    float: right;
}

.price-position {
    float: right;
}

.price {
    font-family: "Open Sans", fantasy;
    color: #040506;
    font-weight: normal;
    font-size: 15px;
}

.price:hover {
    color: #ff3f4b;
    border-color: #01060b;
}

.button {
    border-radius: 15px;
    margin-right: 15px;
    color: #40a9ff;
    border-color: #40a9ff;
}

.button:hover {
    color: #ff1e21;
    border-color: #01080f;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:focus {
    color: #40a9ff;
    border-color: #40a9ff;
    background-color: #fff;
    opacity: 0.4;
}

.separator {
    margin-left: 10px;
    margin-right: 10px;
    color: #8899A6;
}

.cv-poll-choice {
    position: relative;
    margin-bottom: 8px;
}

.cv-poll-choice-details {
    position: relative;
    z-index: 1;
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.certificate-creation-date {
    float: right;
    display: block;
    color: #0b0a0b;
    font-size: 19px;
    font-weight: bolder;
    margin-top: 2px;
}

.certificate-creation-date:hover {
    color: #9f192c;
    border-color: #110506;
}

.title-info {
    color: #040506;
    margin-left: 58px;
    margin-bottom: 10px;
    height: 58px;
    font-size: 16px;
    font-weight: bold;
}


.title-text {
    border: none;
    color: #559fff;
    font-size: 16px;
    font-weight: bold;
    background: none;
}

.title-text:hover {
    color: #9f192c;
}

/*****/

.certificate-creation-date-popUp {
    float: right;
    margin-right: 15%;
    display: block;
    color: #657786;
    font-size: 13px;
    margin-top: 2px;
}

.available-tag-position-popUp {
    font-size: 13px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #7b7bff;
    color: black;
    border-radius: 10px;
    margin-right: 10px;
}


/***************/


.product-content-body {
    text-indent: 20px;
    padding-left: 15px;
    padding-right: 15px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.product-rating-footer {
    margin-top: 5%;
}


.tag-look {
    color: white;
    border-color: #2da94f;
    background-color: #2da94f;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
}


.tag-look:hover {
    color: black;
    border-color: black;
}


