
.base-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.7em;
    }
}
